body {
  text-align: center;
  background-color: #011f3f;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* Media Query for Small Screens */
@media (max-width: 480px) {
  .container {
    width: 90%;
  }

  .btn {
    height: 100px;
    width: 100px;
    border-width: 8px;
  }

  #level-title{
    font: 1em cursive;
  }
}

/* Media Query for Medium Screens */
@media (min-width: 481px) and (max-width: 720px) {
  

  .container {
    width: 80%;
  }

  .btn {
    height: 120px;
    width: 120px;
    border-width: 10px;
  }
}

@media (min-width: 721px) and (max-width: 1200px) {
  

  .container {
    width: 80%;
  }

  .btn {
    height: 120px;
    width: 120px;
    border-width: 10px;
  }
}

/* Media Query for Large Screens */
@media (min-width: 1201px) and (max-width: 1600px) {
  .container {
    width: 70%;
  }

  .btn {
    height: 150px;
    width: 150px;
    border-width: 10px;
  }
}

/* Media Query for Extra Large Screens */
@media (min-width: 1601px) {
  
}